* {
  margin: 0;
  padding: 0;
}

.section-container {
  padding: 0 1rem;
}


.section__top__inner {
  height: 500px;
  padding-top: 50px;
  padding-bottom: 50px;
  background: #db7f88;
  display: flex;
  align-items: center;
  justify-content: center;
}

.section__top__inner__left {
  display: inline-block;
}

.section__top__inner__left img {
  height: 200px;
}

.section__top__inner__right {
  display: inline-block;
  padding-left: 50px; 
}

.section__top__inner__right__name {
  font-size: 4rem;
  color: #FFF;
}

.section__top__inner__right__mail {
  font-size: 2rem;
  color: #FFF;
  padding-top: 5px;
}

/* SNS */
.section__top__inner__right__sns-area {
  padding-top: .5px;
}

.icon__twitter {
  text-decoration: none;
}
.icon__twitter img {
  width: 50px;
}

.icon__github {
  margin-left: 20px;
  text-decoration: none;
}

.icon__github img {
  width: 50px;
}

/* SLILLS */
.section__skills {
  height: 700px;
  background: rgb(192, 193, 194);
}

.section__skills__inner {
  position: relative;
  padding-top: 5rem;
}

.section__skills__inner__title {
  position: absolute;
  top: -34px;
  font-family: 'Notable', sans-serif;
  font-size: 4rem;
  color: rgb(219, 127, 136);
}

.section__skills__inner__code-area__code {
  font-size: 3rem;
  color: rgb(36, 106, 67);
}

/* PRODUCTS */
.section__products__inner {
  position: relative;
  padding-top: 50px;
  padding-bottom: 50px;
}

.section__products__inner__title {
  position: absolute;
  top: -34px;
  vertical-align: top;
  font-family: 'Notable', sans-serif;
  font-size: 4rem;
  color: rgb(192, 193, 194);
}

/* FOOTER */
.section__footer {
  border-top: 1px solid rgb(219, 127, 136);
  display: flex;
  justify-content: center;
}

.section__footer__inner__mail {
  padding-top: 30px;
  text-align: center;
  font-size: 2rem;
}

.section__footer__inner__sns-area {
  height: 30px;
  display: flex;
  justify-content: space-between;
}

.section__footer__inner__copy-right {
  padding-top: 30px;
  padding-bottom: 30px;
  text-align: center;
  font-size: 2rem;
}